:root {
    --dark: rgb(43, 43, 43);
    --white: #ffffff;
}

body {
    background-color: var(--dark);
    color: magenta;
    font-family: sans-serif;
}

main {
    display: flex;
    flex: 0 0 33%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-template-columns: repeat (3, 1fr)
}

.main-header {
    text-align: center;
    padding: 40px;
}

h1 {
    padding: 10px;
}

header>p {
    color: var(--white);
}

.code-card {
    margin: 10px;
    display: table-column;
    transition: all 0.5s ease-in-out;
    border-style: dashed;
    border-color: var(--white);
    border-width: 1px;
    padding: 20px;
    flex: inherit;
}

.card-header {
     border-radius: 8px;
     border-width: 1px;
     border-style: solid;
     border-color: var(--white);
     padding: 5px;
     transition: all 0.5s ease-in-out;
     position: relative;
     margin-top: -30px;
     margin-bottom: 10px;
     background: solid;
     background-color: var(--dark);
     font-size: 25px; 
     font-weight: bold;
     text-align: left;
}

.card-descrip {
    padding: 10px;
}

.example {
    color: var(--white);
    background-image: linear-gradient(rgba(232, 102, 236, 0.3) 0%, rgba(232, 102, 236, 0.6) 100%);
    flex: inherit;
    flex-wrap: wrap;
    position: relative;
    text-align: left;
    line-height: 1.3;
    border: 1px;
    border-radius: 8px;
    flex-shrink: 1;
}

.code-card:hover, 
.code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1); 
}

footer {
    text-align: center;
    padding: 50px;
}

@media screen and (max-width: 922px) {
    main {
        flex-direction: column;
        flex-wrap: wrap;
    }
}